@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css");

textarea.output {
    resize: vertical;
    margin-top: 10px;
    min-height: 300px;
}

.main-container {
    padding: 10px;
}
